body{
    background-image: url(hal.jpg);
    background-size: cover;
}
table{
    color: rgb(252, 250, 255);
    font-size: 40px;

}
h1{
    color:rgb(228, 4, 109);font-family: "element";
    font-size: 36px;
}